.checkbox {
  position: relative;

  input {
    display: none;
  }

  label {
    display: inline-block;
    padding: 0 0 0 70px;

    font-size: 20px;
    font-weight: 500;

    transition: all 0.2s linear;
    cursor: pointer;
  }

  &::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 20px;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    background: #bfc0c4;
    border-radius: 20px;
    transition: all 0.2s linear;
    cursor: pointer;
  }

  &::after {
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    top: 50%;
    left: 0px;
    transform: translate(0, -50%);
    border-radius: 50%;
    background: #bfc0c4;
    transition: all 0.2s linear;
    cursor: pointer;
  }

  &.active {
    color: #4fbb65;

    &::before,
    &::after {
      background: #4fbb65;
    }

    &::after {
      left: 22px;
    }
  }
}
