.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
}

.select__value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  height: 50px;
  font-size: 16px;
  padding: 0px 20px;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 11px;
  background: url('@img/select-arrow.svg') center / cover no-repeat;
  transition: all 0.2s linear;
}

.select__options {
  display: none;
  position: absolute;
  min-width: 100%;
  top: 47px;
  left: 0;
  border: 1px solid #ddd;
  border-top: 0;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  font-size: 16px;
  text-transform: capitalize;
  padding: 0px 0px 5px 0px;
  color: #000;
}

.select__option {
  padding: 10px 20px;
  cursor: pointer;
}

.select._active {
  z-index: 3;
}

.select._active .select__value::before {
  transform: rotate(-180deg);
}

.select._active.select__options {
  display: block;
}
